<input type="text" [formControl]="search" />
<div *ngIf="!showMovie">
  <div
    *ngFor="let movie of appApiService.searchResults | async"
    (click)="findMovie(movie?.Title)"
  >
    {{ movie?.Title }}
  </div>
</div>
<div *ngIf="result | async as movie">
  <div>{{ movie?.Title }}</div>
  <div>Released {{ year - movie?.Year }} years ago</div>
  <div>{{ movie?.Actors | actorNames }}</div>
  <div>{{ movie?.Runtime }}</div>
  <div>{{ movie?.Country }} <img src="{{ appApiService.flag }}" alt="" /></div>
  <div>
    <span *ngFor="let currency of appApiService.currency">{{ currency }} </span>
  </div>
  <img src="{{ movie?.Poster }}" alt="" />
</div>
